@mixin container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  height: 100%;
}

@mixin card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--theme-contrast);
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 100%;
  border: var(--border-default);
}

@mixin link {
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    opacity: .8;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin loader($duration: 1s, $timing: linear) {
  animation: spin $duration $timing infinite;
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}