:root {
  --background: #fff;
  --foreground: #171717;
  --theme-contrast: #fff;
  --c-red: #e40018;
  --c-dark: #15161e;
  --c-gray: #b9bfc4;
  --c-white: #fff;
  --alert: var(--c-red);
  --header-height: 2rem;
  --footer-height: 4rem;
  --border-default: 1px solid var(--c-gray);
  --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --theme-contrast: #807f7f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  background: var(--theme-contrast);
  color: var(--foreground);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
