.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-bottom: .8rem;

  &__label {
    opacity: 0;
    position: absolute;
    top: .6rem;
    left: .95rem;
    font-size: 1rem;
    background-color: var(--background);
    padding: .1rem;
    pointer-events: none;
    transition: all 0.2s ease;
  }

  &__input {
    font-size: 1rem;
    padding: .8rem 1rem;
    border-radius: var(--border-radius);
    border: var(--border-default);
    outline: none;
    background-color: var(--theme-contrast);

    &::placeholder {
      opacity: 1;
      color: var(--background);
      transition: all 0.3s ease;
    }

    &:focus {

      + .input__label {
        top: -.6rem;
        left: .95rem;
        font-size: .8rem;
        opacity: 1;
      }

      &::placeholder {
        color: transparent;
        display: none;
        opacity: 0;
      }
    }
  }

  &__error {
    color: var(--alert);
  }
}